@model Category
@{
    ViewData["Title"] = "Delete Category";
}

<h2 class="mt-4 mb-3">Delete category</h2>
<form method="post">
    <div class="mb-3">
        <input asp-for="CategoryId" class="form-control" hidden>
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="displayOrder" class="form-label"></label>
        <input asp-for="displayOrder" class="form-control" disabled>
    </div>
    <div asp-validation-summary="ModelOnly" class="mb-3"></div>
    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Delete</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Category" asp-action="Index" class="btn btn-light form-control">Back to list</a>
        </div>
    </div>
</form>
